<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.projekt.bachelor.wheresmyfamily" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="dk.projekt.bachelor.wheresmyfamily.AuthenticationApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dk.projekt.bachelor.wheresmyfamily.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dk.projekt.bachelor.wheresmyfamily.SignUpScreen"
            android:label="@string/title_activity_sign_up_screen" >
        </activity>
        <activity
            android:name="dk.projekt.bachelor.wheresmyfamily.SignInScreen"
            android:label="@string/title_activity_sign_in_screen" >
        </activity>
        <activity
            android:name="dk.projekt.bachelor.wheresmyfamily.LoggedIn"
            android:label="@string/title_activity_logged_in" >
        </activity>
    </application>

</manifest>
