<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.projekt.bachelor.wheresmyfamily" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- Very important to work, this is API key got from google with tdc2k account -->
    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyBAyKrNp54ujj7t7M4oevL_zvuTgOFBjj0" />
    <!-- very important adding google play service for google map -->
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name=".authenticator.AuthenticationApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Register_child"
            android:label="@string/title_activity_registrer_barn"
            android:parentActivityName=".activities.LoggedIn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="text/plain" />
                <data
                    android:host="ext"
                    android:pathPrefix="/app/dk.project.bachelor.wheresmyfamily:deviceid"
                    android:scheme="vnd.android.nfc" />
                <!--Tillad implicit intents-->
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain" />

            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Register_parent"
            android:label="@string/title_activity_registrer_parent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data
                    android:host="ext"
                    android:pathPrefix="/app/dk.project.bachelor.wheresmyfamily:deviceid"
                    android:scheme="vnd.android.nfc" />
            </intent-filter>
        </activity>
        <activity
            android:name="dk.projekt.bachelor.wheresmyfamily.position"
            android:label="@string/title_activity_position" >
        </activity>
        <activity
            android:name="dk.projekt.bachelor.wheresmyfamily.calendar"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".activities.CreateUserScreen"
            android:label="@string/title_activity_sign_up_screen"
            android:parentActivityName=".activities.Main" >
        </activity>
        <activity
            android:name=".activities.LogInScreen"
            android:label="@string/title_activity_sign_in_screen"
            android:parentActivityName=".activities.Main" >
        </activity>
        <activity
            android:name=".activities.LoggedIn"
            android:label="@string/title_activity_logged_in">
            <!--android:uiOptions="splitActionBarWhenNarrow"-->
        </activity>
        <activity
            android:name=".activities.LoggedInChild"
            android:label="@string/title_activity_logged_in_child" >
        </activity>
        <activity
            android:name=".activities.SwipeMenu"
            android:label="@string/title_activity_swipe_menu" >
        </activity>
    </application>

</manifest>
